[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
marshmallow = "*"
flask-restful = "*"
mypy = "*"
flask-swagger-ui = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
pyjwt = "*"
marshmallow-sqlalchemy = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.10"
